<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/mgymrekweb.css" media="screen" />
<div id="container">
	<div id="header">
		<h1>
			Your name
		</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="#">Home</a></li>	
			<li><a href="publications/">Publications</a></li>
			<li><a href="resources/">Resources</a></li>
		</ul>
	</div>
	<div id="content">
		<h2>
			About me
		</h2>
		
		<p>
		  <table>
		  <tr>
		  <td>
		  <img src="{{ STATIC_URL }}smiley.jpg"
		       align="left", height=200 >
		  </td>
		  <td>
		</td>
                </tr>
                </table>
	</div>
	<div id="footer">
		Copyright © Melissa Gymrek, 2013
	</div>
</div>
